/*
 * Antari2040 keymap
 * 3 rows of 4 keys per layer, then the encoder push button as the
 * 13th (last) binding.
 *
 * Studio unlock: hold 2nd-row-left key, tap top row 3rd key.
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        rgb_encoder: rgb_encoder {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Media";
            bindings = <
                &tog 1     &kp C_PREV   &kp C_PP     &kp C_NEXT
                &mo 2      &kp C_VOL_DN &kp UP       &kp C_VOL_UP
                &mo 3      &kp LEFT     &kp DOWN     &kp RIGHT    &kp C_MUTE
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        num_layer {
            display-name = "Numbers";
            bindings = <
                &trans    &kp N7       &kp N8       &kp N9
                &trans    &kp N4       &kp N5       &kp N6
                &lt 3 N0  &kp N1       &kp N2       &kp N3       &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_layer {
            display-name = "BT/RGB";
            bindings = <
                &bt BT_CLR      &rgb_ug RGB_TOG &studio_unlock &bootloader
                &trans          &bt BT_SEL 3    &bt BT_SEL 4   &rgb_ug RGB_EFF
                &rgb_ug RGB_HUI &bt BT_SEL 0    &bt BT_SEL 1   &bt BT_SEL 2    &none
            >;
            sensor-bindings = <&rgb_encoder>;
        };

        raise_layer {
            display-name = "Numpad";
            bindings = <
                &kp KP_N7  &kp KP_N8    &kp KP_N9    &kp KP_DIVIDE
                &kp KP_N4  &kp KP_N5    &kp KP_N6    &kp KP_MULTIPLY
                &kp KP_N1  &kp KP_N2    &kp KP_N3    &kp KP_MINUS &kp KP_PLUS
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
